<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>About Us</title>
      <link rel="stylesheet" href="assets/donor/css/style.css">
  </head>
  <body class="background">
    <section>

        <nav>
        <a href="#" class="logo">Crowd Funding</a>
        <ul>
          <li><a href="index.php" class="active">Home </a></li>
            <li><a href="views/registration.php">Sign up</a></li>
           <li><a href="views/login.php">Login</a></li>
           <li><a href="views/about_us.html">About Us</a></li>
        </ul>
        </nav>
    </section>
    <center>
       <div class="aboutus" >

      <div class="cover" style="margin-top:80px;">
        <h1 align="center" style="color: white;">About Us...</h1>
        <p style="color: white;">Crowdfunding has emerged as a revolutionary financing model that allows small entrepreneurs to raise funding in the early stages of their projects, particularly those that may otherwise struggle to obtain capital.This project is made for the people to help others & get help from others on their needy times.



In this project, there are three types of user . People who will join as a donor & willing to donate funds to others whoever applied for money through this web application. The donor can make their donation process done by various online payment method , as well as they can give suggestions to the fund raiser’s by commenting in their money raising application form. The donor can view the total progress of a particular raising post.



On the other hand  the fund raiser can apply for fund after completing successful registration . the raiser just need to fill the form by giving their reasons of raising amount & also fill the amount he willing to get by this post. They can show their progress when some donor donates into their specific posts.</p>

      </div>

    </center>



     </div>
  </body>
</html>
