<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./assets/donor/css/style.css">
          
          
    <title>Dashboard</title>
    
    
    
    
      </head>
    <body>

    <section>
        <nav>
        <a href="#" class="logo">Crowd Funding</a>
        <ul>
            <li><a href="#" class="active">Home </a></li>
            <li><a href="#">profile</a></li>
           <li><a href="#">Logout</a></li>
        </ul>
        </nav>
    </section>

        <h1 align="center">My Profile</h1>

<center>
    <section>
      <table class="prof_table">
        <tbody>
          <tr>
            <td>Name:</td>
            <td width="1em"></td>
            <td>#HAPU04</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td width="1em"</td>
            <td>Denise Altidor</td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td width="1em"</td>
            <td>34</td>
          </tr>
          <tr>
            <td>Adress:</td>
            <td width="1em"</td>
            <td>3 Children</td>
          </tr>
          <tr>
            <td>Contact No:</td>
            <td width="1em"</td>
            <td>Commerce & Farming</td>
          </tr>
          
        </tbody>
      </table>
    </section><br>
    <a class="myButton">edit</a>
  </center>




  <h1 align="center">My Donation History</h1>

  <center>
      <section>
        <table border="1" width="600px"class="prof_table">
          <tbody>
            <tr>
              <td>Donated To </td>
              <td>Donated Amount</td>
              <td>Post ID</td>
              <td>Donation Date</td>
            </tr>
            <tr>
              <td>Donated To </td>
            <td>Donated Amount</td>
            <td>Post ID</td>
            <td>Donation Date</td>
            </tr>
            
          </tbody>
        </table>
      </section>
    </center>
  

    
    
 </body>
</html>