<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./assets/donor/css/style.css">
          
          
    <title>Dashboard</title>
    
    
    
    
      </head>
    <body>

    <section>
        <nav>
        <a href="#" class="logo">Crowd Funding</a>
        <ul>
            <li><a href="#" class="active">Home </a></li>
            <li><a href="./donor_profile.html">profile</a></li>
           <li><a href="#">Logout</a></li>
        </ul>
        </nav>
    </section>

    <div class="postarea">
      <div class="title">
        <h1 align="center">Raisers Post</h1>
      </div>
      <center>
        <div class="postcards">
          
      <div class="card">
        <img width="220px" src="./assets/pics/xxx.jpg" alt="Avatar" >
      
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
          <a href="#" class="myButton">Details</a>
       
      </div>

      <div class="card">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>

      <div class="card">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>

      <div class="card">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>

      <div class="card">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
  



    </div>
  </center>
 


    </div>
    
 </body>
</html>