<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./assets/donor/css/style.css">
          
          
    <title>Dashboard</title>
    
    
    
    
      </head>
    <body>

    <section>
        <nav>
        <a href="#" class="logo">Crowd Funding</a>
        <ul>
            <li><a href="#" class="active">Home </a></li>
            <li><a href="#">profile</a></li>
           <li><a href="#">Logout</a></li>
        </ul>
        </nav>
    </section>



    <section class="postdescription">

      <div class="cardpost postdes">
        <h3>Help me to recover from this bad crisis</h3>
        <img  width="400px" src="./assets/pics/xxx.jpg"/>
        <p>Posted on :</p>
        <p>
          Local rankings require hard work. In this article, we'll go over the local ranking factors you need to keep in mind when optimizing your site!

How to duplicate a post in WordPress, plus 4 reasons why!(Opens in a new browser tab)
Do you write content in WordPress? Then it pays off to know how to duplicate a post. How do you do this and when should you? We'll tell you!
        
Local rankings require hard work. In this article, we'll go over the local ranking factors you need to keep in mind when optimizing your site!

How to duplicate a post in WordPress, plus 4 reasons why!(Opens in a new browser tab)
Do you write content in WordPress? Then it pays off to know how to duplicate a post. How do you do this and when should you? We'll tell you!
</p>

      </div>
<center>


      <div class="carddonate">
          <h1>Make Donation</h1>
        <input type="text" class="tb5" name="donation"> <br><br>
        <a href="#" class="myButton">donate</a>



      </div>

    </center>


    </section>
  

    
 </body>
</html>