
/*Login Page CSS*/

@import "bourbon";

body {
	background: #eee !important;	
	font-family: sans-serif;
	margin: 0;
    padding: 0;
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}
.form-signin {
  max-width: 440px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
	.form-control {
	  
	  font-size: 16px;
	 
	 padding: 10px;
	 margin-bottom: 20px;
	
    }

	input[type="text"] {
	  margin: 7px 10px;
      padding: 5px 15px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin: 7px 10px;
      padding: 5px 15px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

	/*Home Dashboard*/
	nav{
		display:flex;
		justify-content: space-between; 
		align-items: center;
		height: 60px;
		background-color: #FFFFFF;
		box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
		padding: 0px 5%;
		
		
	}
	nav ul{
		display: flex;
	}
	nav ul li{
		list-style: none;

	}
	nav ul li a{
		margin:25px;
		font-family: myriad pro regular;
		color:#505050;
		font-size:15px;
		font-weight: 700;
		
		
	}

	.postarea{
		margin-left: 60px;
		margin-right: 60px;
		
		

	}
	.postcards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
	}


	.card {
		
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
		transition: 0.3s;
		border: 1px solid;
		width: 300px;
		justify-content: center;
		align-items: center;
		height: 350px;
		margin: 30px;
	  }
	  
	 
	  .card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	  }
	  
	  
	 .container {
		padding: 2px 16px;
	  }

	  .postdescription{
		  display: flex;
	  }
	  .cardpost{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
		transition: 0.3s;
		border: 1px solid;
		width: 800px;
		justify-content: center;
		align-items: center;
		
		margin: 30px;
		padding-left: 30px;
		padding-right: 30px;

	  }
.carddonate{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
		transition: 0.3s;
		border: 1px solid;
		width: 300px;
		justify-content: center;
		align-items: center;
		height: 600px;
		margin: 30px;
}

.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}
.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.amount-progress{
    width: 80%;
	margin-left: 11.5%;
	height: 50px;
	background-color: #0091EA;
}
.error-message{
    font-size: 15px;
    color: red;
}
.success-message{
	font-size: 15px;
    color: green;
}

.homepage {
    padding: 0px 6%;
}
.nav-item{
	text-decoration: none;
	font-size: 16px;
    font-weight: 500;
}
.nav-item:hover {
    color: #4CAF50;
}
.row {
    width: 100%;
    display: flex;
}
.column {
    width: 50%;
}
.add-new-post {
    text-align: end;
}
button.default-button {
	height: 36px;
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    background: white;
}
button.default-button:hover {
    background: #4CAF50;
    border:#4CAF50;
}button.default-button:hover a{
	text-decoration: none;
    color: white;
}
.default-button a {
    text-decoration: none;
    color: #4CAF50;
}
.default-field {
    border: 1px solid black;
    height: 23px;
}
form.add-form {
	margin-top: 3%;
    margin-left: 40%;
}
.add-form label {
    display: block;
}
.add-form input[type=text], select, textarea {
   	width: 100%;
  	padding: 12px;
   	border: 1px solid #ccc;
  	margin:10px 0;
  	resize: vertical;
}
.add-form input[type=file]{
	width: 100%;
    height: 40px;
    margin-top: 10px;
}
.add-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.add-form input[type=submit]:hover {
  background-color: white;
  color: #4CAF50;
  border: 1px solid #4CAF50;
}
.add-post .error-message, .success-message{
	margin-left: 40%;
}